.pushy__button {
  opacity: 1;
}
.pushy__button:before {
  opacity: 0;
  width: 0;
}
.pushy__button:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
          transform: translate3d(0, 0, 0) rotate(360deg);
  -webkit-transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
  transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
}